body {
  background-color: #dddddd ;
  padding: 60px ;
  font-size: 20px;
  color: #333333 ;
}

span#name {
  font-size: 30px;
  font-weight: bold;
}

span#title {
  font-size: 20px;
}
span#department {
  font-size: 20px;
}
div#header {
  width: 930px;
  height: 100px ;
}

div#name-area {
  float: left; 
}

div#contact-info {
  float: right ;
}

ul{
  font-size: 20px;
}

ul.jump-bar {
 margin-top: 0px;
 margin-bottom: 0px;
 margin-left: 0px;;
 margin-right: 0px;;
 padding-left: 0px ;
 padding-right: 0px ;
}


ul.jump-bar li {
 display: inline ;
 font-weight: bold ;
}

a {
  color: #2aa198;
}

/* visited link */
a:visited {
  color: #586e75;
}

/* note: image from Peter Selinger's atcat group website */
.header {
    /* background-color: #c4d0ff; */
    background-image: url("atcat-100t.png");
    background-repeat: no-repeat;
    /* height: 100px; */
    background-position: 5px center;
    /* color: white; */
    padding: 5px;
    padding-left: 110px;
}


.updated{
    font-style: normal;
    font-size: 81%;
    text-align: left;
}
